# Ansible Shade uses OpenStack clients running locally
[openstack]
localhost ansible_connection=local ansible_python_interpreter=python

{% if cluster_environment_group is not none %}
[{{ cluster_environment_group }}:children]
openstack
cluster
{% endif %}

[cluster:children]
{% for group_data in cluster_group.output_value %}
{{ cluster_name }}_{{ group_data.group }}
{% endfor %}

{% for group_data in cluster_group.output_value %}
[{{ cluster_name }}_{{ group_data.group }}]
{% for node_data in group_data.nodes %}
{{ node_data.name }} ansible_host={{ node_data.ip }} server_networks='{{ dict(cluster_nets | zip(node_data.node_ips)) | to_json }}'
{% endfor %}

[{{ cluster_name }}_{{ group_data.group }}:vars]
ansible_user={{ cluster_params.cluster_groups | selectattr("name", "equalto", group_data.group) | map(attribute='user') | join }}
{% if cluster_gw_group is defined %}
{% if cluster_gw_group != group_data.group %}
ansible_ssh_common_args='-o ProxyJump={{ cluster_gw_user }}@{{ cluster_gw_ip }}'
{% endif %}
{% endif %}

{% endfor %}
# Specific roles for cluster deployment assignments
{% for role in cluster_roles %}
[cluster_{{ role.name }}:children]
{% for group in role.groups %}
{{ cluster_name }}_{{ group.name }}
{% endfor %}

{% endfor %}

{% for group, group_vars in cluster_group_vars.items() %}
[{{ group }}:vars]
{% for var_name, var_value in group_vars.items() %}
{{ var_name }}={{ var_value }}
{% endfor %}

{% endfor %}
